<%- include('partials/header') %>

<div class="profile-container">
    <!-- <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>  -->
    <i class="fas fa-user"></i>
</div>

<div class="profile-card" style="display: none;">
    <div class="profile-card-item">
        <%=userName%>
    </div>
    <div class="profile-card-item profile-card-item2">
        <a href="/dashboard/create"><div class="profile-card-item-btn">
            create new
        </div></a>
        <a href="/logout"><div class="profile-card-item-btn">
            logout
        </div></a>
    </div>
</div>

<div class="dash-container">
    <a href="/dashboard/create">
        <div class="form-card">
            <div class="form-card-text"><img src="/images/images.png" class="img-fluid" alt="add image" /></div>
        </div> 
    </a>
    
    <%  allForms.forEach(function(form){ %>
        <a href="/dashboard/forms/<%=form._id%>">
            <div class="form-card">
                <div class="form-card-text"><%=form.title%></div>
                <% if(form.public === "on") { %>
                    <span class="material-icons custom-form-shared-indicator" data-bs-toggle="tooltip" data-bs-placement="top" title="Form is accepting responses">check_circle</span>
                <% } %>
                
            </div>
        </a>
            
    <%  }) %>
</div>


<script type="text/javascript" src="/scripts/dash-script.js"></script>

<%- include('partials/footer') %>